@media (max-width: 768px){
	.login-box, .register-box {
	    width: 90%;
	    margin-top: 20px;
	}
}
.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-page, .register-page {
    background: #fc5800;
}
.control-label{
	min-width:150px;
}
.error{
	color:red;
	margin-left:155px;
}
.table-filter{
	margin-bottom:10px;
}
.pagination{
  margin:0px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #f37934;
    border-color: #f37934;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #DB8D10;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #DB8D10;
  background-color: #eee;
  border-color: #ddd;
}