@media (max-width: 768px){
	.login-box, .register-box {
	    width: 90%;
	    margin-top: 20px;
	}
}
.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-page, .register-page {
    background: #fc5800;
}
.control-label{
	min-width:150px;
}
.table-filter{
	margin-bottom:10px;
}
.nav-tabs,.alert{
	margin-bottom: 10px;
}